<div style="height:100%;width:100%;background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);position: absolute;">
	<h1 style="position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);color: #FFF;">
		<%= @greeting %>
	</h1>
<div>
